_build
*.swp
*.opensdf
*.sdf
*.suo
*.ncb
*.pdb
*.aps
bin
obj
x64
Release/
Debug/
*.user
*.cache
*.pyc
ipch/
Maya*/
Keyboard/
*.stackdump
*.exe
*.lst
*.obj
UpgradeLog*
UpgradeReport*
*.aex
*.ilk
launch.bat
*.sdf
*.opensdf
src/boost/
include/
lib/
src/Eigen/
src/GL/
src/kt84/
build/*.dir/
build/RelWithDebInfo/
build/Win32/
build/CMakeFiles/
/src/kt84_2015
